header {

     padding: 5px;
    width: 100%;
    color: white;
    text-align: center;
    font-size: 20px;
  }

  .book-list {
    margin: 20px auto;
    width: 40%;
  }



  .tooltip {
    position: absolute;
    padding: 3px;
    font-size: 12px;
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #ccc;
    text-align: left;
  }

  .author {
    cursor: default;
  }
