.col-1 {
    display: inline-block;
    width: 40%;
  }

  .col-1 h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
  }

  .col-2 {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    text-align: right;
  }
  .book-element {
    box-shadow: 2px 2px 8px rgb(233, 228, 228);
    padding: 10px;
    margin: 10px 0;
  }
  .author {
    font-size: 22px;
  }