.col-1 {
    display: inline-block;
    width: 60%;
  }

  .col-1 h3 {
    margin: 0 0 10px 0;
    padding: 0;
    font-size: 22px;
    font-style: italic;
  }

  .col-2 {
    display: inline-block;
    width: 40%;
    vertical-align: top;
    text-align: right;
  }
  .book-element {
    box-shadow: 3px 3px 10px #fff;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #61729c;
    color:white;
  }
  .info {
    color:#ECEFF4;
    font-family: monospace;
  }
  .author {
    font-style: italic;
    font-size: 22px;
    margin-bottom: 5px;
  }