.col-1 {
  width: 60%;
  margin: 10px 10px 10px  10px;
}

.col-2 {
  width: 40%;
  margin: 10px 10 10px 10px;
}
.col-1 h3 {
  font-size: 22px;
  font-style: italic;
}

.book-element {
  display: flex;
  width: 100%;
  margin: 10px 10px 10px 10px;
  box-shadow: 3px 3px 10px #fff;
  border-radius: 5px;
  background-color: #61729c;
  color: white;
  cursor: pointer;
}
.info {
  color: #eceff4;
  font-family: monospace;
}
.author {
  font-style: italic;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}
