
  .book-search {
    margin: 20px auto;
    display: flex;
  width: max-content;
    color: white;
    cursor: pointer;
    button, input {
      text-align: center;
      border-radius: 5px 0 0 5px;
      font-size: inherit;
      font-family: inherit;
      outline: none;
    }



    button {
      background-color: #2ecc71;
      border: none;
      border-radius: 0 5px 5px 0;
      box-shadow: 1px 1px 1px #95a5a6;
      cursor: pointer;
      color: white;
    }

    button:hover {
      background-color: #27ae60;
    }
   }
