
  .book-search {
    margin: 20px auto;
    width: 50%;
    text-align: center;

    label {
      font-weight: bold;
      margin-right: 20px;
    }

    button, input {
      border-radius: 5px;
      font-size: inherit;
      font-family: inherit;
    }

    input {
      padding: 3px 5px;
      outline: none;
      width: 50%;
      margin-right: 20px;
    }

    button {
      background-color: #2ecc71;
      border: none;
      padding: 4px 8px;
      box-shadow: 1px 1px 1px #95a5a6;
      cursor: pointer;
      color: white;
    }

    button:hover {
      background-color: #27ae60;
    }
  }
