.header{
    display: flex;
    justify-content: center;
}
.header-card{
    width: 875px;
}
.example-full-width {
    width: 80%;
  }
#btnCreatePlan{
    margin-top: 20px;
    background-color: #673AB7 !important;
    color: white;
    float: right;
}