.header{
    display: flex;
    justify-content: center;
}
.header-card{
    width: 875px;
}
.example-full-width {
    width: 80%;
  }
.disableButton{
    background-color: #683ab7a9 !important;
}
.activeButton{
    background-color: #673AB7 !important;
}
#btnCreatePlan{
    margin-top: 20px;
    color: white;
    float: right;
}