<div class="wrapper antialiased text-gray-900 m-10">
  <div>
      <img src="{{houseItem.image}}"
      alt="{{houseItem.name}}" style="width: 350px;height:350px;" class="object-cover object-center rounded-lg shadow-md">
   <div class="relative px-4 -mt-16  ">
     <div style="background-color: #C0B7C3;" class="p-6 rounded-lg shadow-lg">
      <span class="text-center text-lg text-red text-md px-2 py-2 inline-block
        rounded-full
        uppercase font-semibold tracking-wide">
          {{houseItem.name}}
        </span>
    <div class="mt-1 text-lg text-gray-200 text-md">
     💎 <span>{{houseItem.founder}}</span><br>
     👻 <span>{{houseItem.ghost}}</span><br>
     💫  <span>{{houseItem.head}}</span><br>
     🪑  <span>{{houseItem.commonRoom}}</span><br>
     🎨  <span>{{houseItem.houseColor}}</span>
    </div>
    <div class="mt-4">
      <div class="pl-40 ml-2 text-gray-600 uppercase text-xs font-semibold tracking-wider">
        {{houseItem.traits}} 🎇 {{houseItem.animal}}
       </div>
    </div>
    </div>
   </div>
  </div>
    </div>
