body{
    font-family:'Open Sans', sans-serif;
    background-image: url('./assets/background.png');
    background-position: center;
    background-size: cover;
}
.main-container{
    padding-top: 60px;
    color:#333;
}