.some-page-wrapper {
  margin: 15px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 0%;
  flex: 1;
}

.profile-column {
  position: relative;
  display: flex;
  justify-content: center;
}

.book-column {
  display: flex;
  justify-content: center;
}
