<div class='some-page-wrapper'>
  <div class='row'>
    <div class='column'>
      <div class='profile-column'>
      </div>
    </div>
    <div class='column'>
      <div class='book-column'>
        <book-search></book-search>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='column'>
      <div class='profile-column'>
       <app-profile [profileNewItem]="NewBookItem"></app-profile>
      </div>
    </div>
    <div class='column'>
      <div class='book-column'>
      <section class="book-list">
        <book-item
          *ngFor="let bookItem of (bookList | async).bookList; let i=index"
          [item]="bookItem"
        ></book-item>
      </section>
      </div>
    </div>
  </div>
</div>