<div id="wrapper">
  <div id="pi-list" [class.loading]="(loading$ | async)" *ngIf="!(error$ | async); else error">
    <div id="list">
      <h2>Pi List</h2>
      <ul *ngIf="(piItems | async); else noItems">
        <li *ngFor="let piItem of piItems | async" (click)="deletePiItem(piItem)">
         <p> {{ piItem.value }}</p>
         <p>{{piItem.runTime}}</p>
        </li>
      </ul>
    </div>
    <ng-template #noItems>
      <ul>
        <li style="max-width:250px;margin:0 auto;">No items found. Are you sure there's <em>nothing</em> you want?</li>
      </ul>
    </ng-template>
  </div>
  <form (ngSubmit)="calculatePiItem()">
    <input type="number" [(ngModel)]="newPiItem.digit" placeholder="Item" name="itemDigit"/>
    <button type="submit" >=</button>
  </form>
</div>

<ng-template #error>
  <h2>{{(error$ | async)?.message}}</h2>
</ng-template>