.dialog-content-wrapper {
    max-width: 500px;
    min-width: 500px;

}
::ng-deep li.carousel-slide.ng-star-inserted  {
    height: 350px!important;
    min-height: unset!important;
}
::ng-deep button.mat-focus-indicator.mat-icon-button.mat-button-base{
    float: right!important;
}
button {
    margin-left: 10px;
}