.img-container{
    margin: 24px;
    box-shadow: #555 1px 2px 8px 1px;
    min-height: 460px;
    width: 900px;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;

}
#caption{
    font-size:1.5em;
    font-family: 'Open Sans', sans-serif;
    padding:18px;
    color:#222;
    width: 900px;
}
.caption-row{
    border: 1px solid #bbb;
    padding: 24px;
}