<div class="bg-gradient-to-t from-black mt-20 via-red-700 to-red-400
h-72 w-28 md:w-96 md:rounded-3xl rounded-full shadow-md relative flex flex-col items-center
justify-between md:items-start py-5 md:p-5 transition-all duration-150">
  <!-- IMG PROFILE -->
  <img class="rounded-lg w-24 h-24 shadow-sm absolute -top-10 transform md:scale-110 duration-700"
  src="{{personItem.image}}" alt="{{personItem.name}}" />

  <!-- TEXTS -->
  <div class="transform -rotate-90 md:rotate-0 align-middle text-2xl
  font-semibold text-gray-200 text-right pl-28">{{personItem.name}}</div>
  <ul class="text-md text-gray-300 font-light">
    <li>🎭 {{personItem.actor}}</li>
    <li>🎂 {{personItem.dateOfBirth}}</li>
    <li>🧙‍♂️ Patronus: {{personItem.patronus}}</li>
    <li>🩸 Ancestry: {{personItem.ancestry}}</li>
    <li>🏫 House:{{personItem.house}}</li>
    <li>🦯Wand: {{personItem.wand.core}}</li>
    <li>👁 Eye Colour:{{personItem.eyeColour}}</li>
    <li>💦 Hair Colour:{{personItem.hairColour}}</li>
  </ul>
</div>
