<div class="bg-gradient-to-t from-black mt-20 via-pink-900 to-pink-700
h-72 w-28 md:w-96 md:rounded-3xl rounded-full shadow-md relative flex flex-col items-center
justify-between md:items-start py-5 md:p-5 transition-all duration-150">
  <!-- IMG PROFILE -->
  <img class="rounded-full w-16 h-16 shadow-sm absolute -top-8 transform md:scale-110 duration-700"
  src="https://randomuser.me/api/portraits/women/17.jpg" alt="" />

  <!-- TEXTS -->
  <div class="transform -rotate-90 md:rotate-0 align-middle text-2xl font-semibold text-gray-200 text-center m-auto md:m-0 md:mt-8">Alice Porter</div>
  <ul class="text-lg text-gray-300 font-light hidden md:block">
    <li>🍙 Otaku, Over 9.000</li>
    <li>🍕 Lover, Ñam ñam jejeje</li>
    <li>❤ NY</li>
  </ul>

  <!-- BUTTONS -->
  <div class="flex w-full justify-around">
    <button class=" rounded-full w-16 h-16 shadow-sm bg-pink-400 bg-opacity-40 backdrop-blur-lg" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
      <img class="p-4 w-16 h-16" src="https://www.flaticon.com/svg/vstatic/svg/2362/2362719.svg?token=exp=1618564954~hmac=10f97ba27ae869c1901e136068278327" alt="" />
    </button>
    <button class="hidden md:block | rounded-full w-16 h-16 shadow-sm bg-yellow-400 bg-opacity-40 backdrop-blur-lg" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
      <img class="p-4 w-16 h-16" src="https://www.flaticon.com/svg/vstatic/svg/1256/1256468.svg?token=exp=1618558810~hmac=ba07805284d7548e9f5a51136fd2239d" alt="" />
    </button>
    <button class="hidden md:block | rounded-full w-16 h-16 shadow-sm bg-red-400 bg-opacity-40 backdrop-blur-lg" src="https://randomuser.me/api/portraits/women/17.jpg" alt="">
      <img class="p-4 w-16 h-16" src="https://www.flaticon.com/svg/vstatic/svg/1256/1256450.svg?token=exp=1618558812~hmac=898fb277bfa2d329029c133292caacab" alt="" />
    </button>
  </div>
</div>
