<h3 *ngIf="profiles.length > 0">Saved Profile</h3>
<!--  -->
<article
  #profile
  class="profile"
  *ngFor="let profile of (profileList | async).profileList; let i = index"
  (click)="onLoadProfile(profile)"
>
  <div class="profile-content">
    <img src="{{ profile.bookItem.imageLink }}" />
    <div class="description">
     <ul>
      <li>{{ profile.bookItem.authors }}</li>
      <li>{{ profile.bookItem.publisher }}</li>
     </ul>
    </div>
  </div>
  <span (click)="onDeleteProfile($event, profile)" class="delete">X</span>
</article>
