h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 18px;
}
.profile-content {
  margin: 20px 20px 5px 10px;
  padding: 10px;
  display: flex;
  width: 100%;
}
.description{
  margin-top: 2rem;
  margin-right:5px;
}
.profile {
  color:#fff;
  position: relative;
  background-color: #ad6c80;
  cursor: pointer;
  border-radius: 5px;
  width: 500px;
  .delete {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bolder;
    color:#fff;
  }
}

.profile:hover {
  background-color: #7b113a;
}
