<h3 *ngIf="profiles.length > 0">Saved Profile</h3>
<!--  -->
<article
  #profile
  class="profile"
  *ngFor="let profile of (profileList | async).profileList; let i=index"
  (click)="onLoadProfile(profile)"
>
  <h4>{{ profile.bookItem.title }}</h4>
  <div class="profile-content">
    <p>{{ profile.bookItem.authors }}</p>
    <br />
    <p style="font-style: italic">{{ profile.bookItem.publisher }}</p>
    <img src="{{ profile.bookItem.imageLink }}" />
  </div>
  <span (click)="onDeleteProfile($event, profile)" class="delete">❌</span>
</article>
