@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
body{
  background-image: url('./assets/pilates-pose-background_2.png');
  background-color:#e6d1fa;
}
body,
html {
  margin: 0;
  padding: 0;
  height:100%;
}
