body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    background-image: linear-gradient(to left, #91a4d1 0%, #eef1f5 100%);
}
  .info {
    color: rgba(95, 95, 95, 0.51);
    font-weight: bold;
  }

  @media screen and (max-width: 768px) {
    .book-list {
      width: 80%;
    }
}