img {
  width: auto;
}
mat-checkbox{
  float: right;
  color:#6338B0 !important;
}
mat-card {
  cursor: pointer;
  border-radius: 3px !important;
}
::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: #6338B0;
  background-color: #fff;
}
