<mat-grid-list cols="3" rowHeight="3:2">
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
  <mat-grid-tile>
    <exercise-item></exercise-item>
  </mat-grid-tile>
</mat-grid-list>
