<mat-card>
  <div class="titleDiv">
    <mat-card-title ></mat-card-title>
    <mat-card-title>
      <button class="btnDeletePlan" mat-raised-button (click)="deletePlan(this.planItem)">
        <i class="material-icons">delete_forever</i>
      </button>
      <button class="btnShowPlan" mat-raised-button (click)="showPlan(this.planItem)">
        <i class="material-icons">visibility</i>
      </button>
    </mat-card-title>
  </div>
    <mat-card-content>
      <p>
        {{this.planItem.name}}
      </p>
    </mat-card-content>
  </mat-card>