<div class="row">
  <div class="btn-group-lg" role="group">
    <button
    class="btn btn-info"
    [class.active]="filterBy === 'all'"
    (click)="filterBy = 'all'"
  >
    All
  </button>
  <button
  class="btn btn-info"
  [class.active]="filterBy === 'another'"
  (click)="filterBy = 'another'"
>
  Others
</button>
<button
class="btn btn-info"
[class.active]="filterBy === 'person'"
(click)="filterBy = 'person'"
>
Characters
</button>
  <button
    class="btn btn-info"
    [class.active]="filterBy === 'series'"
    (click)="filterBy = 'series'"
  >
    Series
  </button>
  <button
  class="btn btn-info"
  [class.active]="filterBy === 'film'"
  (click)="filterBy = 'film'"
>
  Films
</button>
  </div>

  <ul id="thumbnailList">
    <li *ngFor="let img of visibleImages | imageFilter: filterBy" style="cursor:pointer;">
      <img src="{{ img.url }}" class="tn" width="200" height="160" [routerLink]="['/image', img.id]" />
    </li>
  </ul>
</div>
